body {
    margin: 0;
    padding: 0;
}

div {
    border: solid 1px #999;
}


.container {
    display: grid;
    grid-template-areas: 
    'header header'
    'menu main'
    'menu main';
    grid-template-rows: auto 0.85fr auto;
    grid-template-columns: 0.075fr auto;
    gap: 10px;
    padding: 5px;
}

/* =========| Header |========= */
.header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 15vw;
    height: 3.2vw;
    margin-left: 5%;
}

.header-perfil {
    width: 10vw;
    height: 3.2vw;
    margin-right: 3%;
}

.header-logo, .header-perfil{
    /* Apenas marcações depois remover */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =========| Menu Lateral |========= */




/* =========| Painel/Output |========= */

.painel {
    display: grid;
    gap: 10px;
}

.output-data {
    height: 12px;
}


.output-data, .menu-nav{
    height: 91vh;
}