:root {
    --color-white: #fff;
    --color-font-input-placeholder: #c8c8c8;
    --px-to-vw: calc(100vw / 1360);
    --px-to-vh: calc(100vh / 639);
    --border-bottom-value: calc(1 * var(--px-to-vw)) solid var(--color-white);
}

#cadastroForm {
    padding: calc(8.84 * var(--px-to-vw));
    gap: calc(20 * var(--px-to-vw));
    display: grid;
    grid-template-areas:
        "p1 p2"
        "sub sub";
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

#slcOp {
    display: flex;
    margin-bottom: calc(35 * var(--px-to-vh));
    justify-content: space-evenly;
    align-items: center;
}

/* ========= Categoria / Publico ========== */
.categoria,
.publico {
    fieldset {
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: calc(220* var(--px-to-vw));
        border-bottom: var(--border-bottom-value);
        border-radius: calc(10 * var(--px-to-vw));
        -webkit-border-radius: calc(10 * var(--px-to-vw));
        -moz-border-radius: calc(10 * var(--px-to-vw));
        -ms-border-radius: calc(10 * var(--px-to-vw));
        -o-border-radius: calc(10 * var(--px-to-vw));
}

    legend {
        margin-bottom: calc(5 * var(--px-to-vw));
        font-weight: bold;
        font-size: calc(13.6 * var(--px-to-vw));
        letter-spacing: calc(1* var(--px-to-vw));
        text-align: center;
    }
}

#cadastroProduto-categoria {
    color: var(--color-white);
    background: transparent;
    border: none;
    width: calc(220* var(--px-to-vw));
    font-size: calc(13.6 * var(--px-to-vw));
    text-align: center;
}

#cadastroProduto-categoria:focus-visible {
    outline: none;
}

.publico label {
    font-size: calc(13.6 * var(--px-to-vw));
}

/* ========= form-info ========== */
/* produto | tamanho | descricao | cor | codigoBarra | Fornecedor */
.p1 {
    grid-area: p1;
    width: 95%;
}

.fgta {
    display: flex;
    align-items: center;
    margin-bottom: calc(10 * var(--px-to-vh));
}

.fgta label {
    font-size: calc(16 * var(--px-to-vw));
    margin-right: calc(10 * var(--px-to-vw));
    white-space: nowrap;
}

.fgta input {
    font-size: calc(13.6 * var(--px-to-vw));
    background: transparent;
    border: none;
    color: var(--color-font-input-placeholder);
    border-bottom: var(--border-bottom-value);
    width: 100%;
}

/* ========= Números de entradas ========== */
#eleNum {
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(32 * var(--px-to-vh));
}

.saldo,
.precoFornecedor,
.precoVenda {
    display: flex;
    flex-direction: column;
    gap: calc(9 * var(--px-to-vh));
    align-items: center;

    label {
        font-size: calc(16 * var(--px-to-vw));
        text-align: center;
    }

    input {
        font-size: calc(13.6 * var(--px-to-vw));
        color: var(--color-font-input-placeholder);
        background: transparent;
        width: calc(240 * var(--px-to-vw));
        border: none;
        border-bottom: var(--border-bottom-value);
        text-align: center;
        border-radius: calc(8.84 * var(--px-to-vw));
        -webkit-border-radius: calc(8.84 * var(--px-to-vw));
        -moz-border-radius: calc(8.84 * var(--px-to-vw));
        -ms-border-radius: calc(8.84 * var(--px-to-vw));
        -o-border-radius: calc(8.84 * var(--px-to-vw));
}

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* ========= Imagem ========== */
.p2 {
    grid-area: p2;
    width: 100%;
}

#cadastroBntImage {
    display: none;
}

#cadastroProduto-3 {
    height: 100%;
}

#cadastroProduto-3 fieldset {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: none;
    border-bottom: none;
    padding: calc(6.4 * var(--px-to-vh));
    border-radius: calc(11 * var(--px-to-vw));
    -webkit-border-radius: calc(11 * var(--px-to-vw));
    -moz-border-radius: calc(11 * var(--px-to-vw));
    -ms-border-radius: calc(11 * var(--px-to-vw));
    -o-border-radius: calc(11 * var(--px-to-vw));
}

#cadastroProduto-3 legend {
    font-weight: bold;
    font-size: calc(13.6 * var(--px-to-vw));
    letter-spacing: calc(1* var(--px-to-vw));
    text-align: center;
}

#cadastroProduto-3 .selectImg {
    color: var(--color-white);
    font-size: calc(13.6 * var(--px-to-vw));
    padding: calc(8.16 * var(--px-to-vw)) 0;
    border: var(--border-bottom-value);
    background: transparent;
    cursor: pointer;
    border-radius: calc(8.84 * var(--px-to-vw));
    -webkit-border-radius: calc(8.84 * var(--px-to-vw));
    -moz-border-radius: calc(8.84 * var(--px-to-vw));
    -ms-border-radius: calc(8.84 * var(--px-to-vw));
    -o-border-radius: calc(8.84 * var(--px-to-vw));
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

#cadastroProduto-3 button:hover {
    box-shadow: 0px 0px 5px 0px var(--color-white);
    transform: scale(101%);
    -webkit-transform: scale(101%);
    -moz-transform: scale(101%);
    -ms-transform: scale(101%);
    -o-transform: scale(101%);
}

#cadastroOutputImagens {
    height: 100%;
    width: 103%;
    max-height: calc(315 * var(--px-to-vh));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(5.2 * var(--px-to-vh));
    overflow: overlay;
}

#cadastroOutputImagens img {
    width: calc(80.2 * var(--px-to-vw));
    height: calc(80 * var(--px-to-vh));
    /*Imagemapenasparateste,futuramenteremover*/
    background: url("/static/img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: calc(5 * var(--px-to-vw));
    -webkit-border-radius: calc(5 * var(--px-to-vw));
    -moz-border-radius: calc(5 * var(--px-to-vw));
    -ms-border-radius: calc(5 * var(--px-to-vw));
    -o-border-radius: calc(5 * var(--px-to-vw));
}

#cadastroForm input[type=submit] {
    grid-area: sub;
    width: calc(300 * var(--px-to-vw));
    margin-top: calc(30 * var(--px-to-vh));
    padding: calc(5 * var(--px-to-vh)) 0;
    color: var(--color-white);
    font-size: calc(20 * var(--px-to-vw));
    background: transparent;
    border: none;
    border-bottom: calc(1 * var(--px-to-vw)) solid var(--color-white);
    border-radius: calc(10 * var(--px-to-vw));
    -webkit-border-radius: calc(10 * var(--px-to-vw));
    -moz-border-radius: calc(10 * var(--px-to-vw));
    -ms-border-radius: calc(10 * var(--px-to-vw));
    -o-border-radius: calc(10 * var(--px-to-vw));
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

#cadastroForm input[type=submit]:hover {
    box-shadow: 0px 0px 5px 0px var(--color-white);
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}

.p1, .p2 {
    input:focus-visible{
        outline: none;
    }
}

/* ========= Botão remover ========== */
.imgContainer {
    display: inline-block;
    position: relative;
}

.removeImg {
    position: absolute;
    top: calc(5 * var(--px-to-vh));
    right: calc(5 * var(--px-to-vw));
    background: #790000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    font-size: calc(13 * var(--px-to-vh));
    padding: 0 calc(5 * var(--px-to-vw));

    display: none;
}

.imgContainer:hover .removeImg {
    display: block;
} 