@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --viewport-width: 2vw;
    --rgba: rgba(155, 155, 155, 0.1);
    --transition-300-ease: transition 300ms ease;
    --opacity-50-ease: opacity 50ms ease;
    --width-300-ease: width 300ms ease;
    --padding-left-300-ease: padding-left 300ms ease;
    --opacity-1-5s-ease: opacity 1.5s ease;
    --transition-1s-ease: transition 1s ease;
    --menu-nav-padding-left: 0.74vw;
    --menu-nav-width: 7.36vw;

    /* TODO: Utilizar as variáveis abaixo, nos componentes que utiliza px*/
    --px-to-vw: calc(100vw / 1360);
    --px-to-vh: calc(100vh / 639);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/img/wallpaper-wolf.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu main main"
        "menu main main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 0fr auto;
    height: 100vh;
}

/* =========| All content |========= */
.header,
.menu-nav,
.painel-control,
.output-data,
section {
    color: white;
    background: transparent;
    border: 0.2vw solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
}

/* =========| Header |========= */
.header {
    grid-area: header;
    min-height: 6vh;
    max-height: 6vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8vh;
}

/* === Logo === */
.header-logo {
    width: 15vw;
}

.header-logo img {
    height: 90%;
}

/* === Perfil === */
.header-perfil {
    margin-right: 1.2vw;
}

.perfil img {
    width: 2.21vw;
    height: 5vh;
    border-radius: 100%;
}

.perfil p {
    margin-right: 0.3vw;
    font-size: 0.8vw;
}

.header-logo,
.header-perfil,
.perfil,
.icon-menu-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === icone Menu === */
.icon-menu-hidden {
    font-size: var(--viewport-width);
    margin-left: 0.4vw;
}

.icon-menu-hidden i {
    padding: 0 0.35vw;
    border-radius: 8px;
}

.icon-menu-hidden i:hover {
    background-color: var(--rgba);
}

/* =========| Menu Lateral |========= */
.menu-nav {
    list-style: none;
    margin-right: 0.3vw;
}

.menu-nav li {
    background-color: rgba(50, 50, 50, 0.1);
    text-align: center;
    margin: 0.35vw;
    padding: 0.35vw;
    transition: 400ms;
    position: relative;
    border-radius: 10px;

    &:hover {
        background-color: var(--rgba);
        transition: 300ms;
    }
}

.menu-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu-nav li i {
    font-size: var(--viewport-width);
}

.menu-nav li p {
    font-size: 1.15vw;
}

.menu-nav .op-word {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: var(--opacity-50-ease), var(--transition-300-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -webkit-transition: var(--opacity-50-ease), var(--transition-300-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -moz-transition: var(--opacity-50-ease), var(--transition-300-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -ms-transition: var(--opacity-50-ease), var(--transition-300-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -o-transition: var(--opacity-50-ease), var(--transition-300-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
}

.menu-nav:hover .op-word {
    opacity: 1;
    padding-left: 0.74vw;
    width: 7.36vw;
    transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    transition-delay: 300ms;
    -webkit-transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -moz-transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -ms-transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    -o-transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
}

.menu-nav[enable] .op-word{
    opacity: 1;
    padding-left: var(--menu-nav-padding-left);
    width: var(--menu-nav-width);
    transition: var(--opacity-1-5s-ease), var(--transition-1s-ease), var(--width-300-ease), var(--transition-300-ease), var(--padding-left-300-ease), var(--transition-300-ease);
    transition-delay: 300ms;
}

/* =========| Painel/Output |========= */
.painel {
    grid-area: main;
}

.painel-control {
    height: 40px;
}

.output-data {
    height: 12px;
}


/* =========| Section |========= */
section {
    height: -webkit-fill-available;
}

section .section-title {
    text-align: center;
    font-size: 1.75vw;
    margin: 1.5vh 0;
    text-shadow: 0 0 1.5vw #fff, 0 0 0.2vw #fff;
}

/* =========| Scroll |========= */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(201, 87, 140) rgb(28, 26, 48);
}