{% extends 'index.html' %}

{% block index %}
<link rel="stylesheet" href="../static/css/menu-cadastro.css">

<section>
    <h1 class="section-title">Cadastrar Produto</h1>
    <form class="cadastroProduto form-info" id="cadastroForm" autocomplete="on" method="POST" enctype="multipart/form-data">
        <div class="p1">
            <div id="slcOp">
                <!-- SELEÇÃO DE CATEGORIA -->
                <div class="cadastro-produto form-info categoria">
                    <fieldset>
                        <legend>Categoria</legend>
                        <select id="cadastroProduto-categoria" name="categoria" class="cadastro-produto form-info categoria" required>
                            {% for c in categoria %}
                                <option value="{{ c }}" style="color: #000;">{{ c }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </div>
                <!-- SELEÇÃO DE PÚBLICO -->
                <div class="cadastro-produto form-info publico">
                    <fieldset>
                        <legend>Público</legend>
                        <div>
                            <input type="radio" name="publico" id="cadastroProduto-publico-fem" value="feminino" required>
                            <label for="cadastroProduto-publico-fem" name="feminino">Feminino</label>
                        </div>
                        <div>
                            <input type="radio" name="publico" id="cadastroProduto-publico-mas" value="masculino" required>
                            <label for="cadastroProduto-publico-mas" name="masculino">Masculino</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            {% for item in template %}
                <div class="cadastro-produto form-info {{ item.class }} fgta">
                    <label for="{{ item.label_for }}">{{ item.label_name }}:</label>
                    <input 
                    id="{{ item.input_id }}" 
                    type="{{ item.type }}" 
                    name="{{ item.name }}" 
                    placeholder="{{ item.placeholder }}"
                    {{ item.required }}>
                </div>
            {% endfor %}

            <div id="eleNum">
                {% for item in saldoEntrada %}
                    <div class="cadastro-produto form-info {{ item.class }}">
                        <label for="{{ item.label_for }}">{{ item.label_name }}</label>
                        <input id="{{item.input_id}}" type="{{ item.type }}" name="{{ item.name }}" placeholder="{{ item.placeholder}}" {{ item.required }}>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="p2">
            <!-- CADASTRO PRODUTO 3 -->
            <!-- TODO: CRIAR BOTÃO PARA REMOVER IMAGENS SELECIONADAS -->
            <div id="cadastroProduto-3">
                <fieldset>
                    <legend>Importa Imagens</legend>
                    <div id="cadastroOutputImagens">
                        <!-- pré-visualizações das imagens aparecerão aqui -->
                    </div>
                    <input type="file" id="cadastroBntImage" name="image" multiple accept=".png, .jpg, .jpeg, .gif, .webp">
                    <button type="button" onclick="document.getElementById('cadastroBntImage').click()">Selecionar Imagens</button>
                </fieldset>
            </div>
        </div>
        <!-- SUBMETER -->
        <input class="submit" type="submit" value="Cadastrar">
    </form>
    <script src="../static/javascript/cadastroProduto.js"></script>
</section>
{% endblock %}