{% extends "index.html" %}

{% block conteudo %}

<link rel="stylesheet" href="../static/css/menu-editor.css">

<style>
    section[class='hidden'] {
        display: none;
    }
</style>

<!-- Section: Obter ID -->
<section class="">
    <h1 class="editarTitulo">Editar Produto</h1>
    <div>
        <fieldset>
            <legend>Identificação</legend>
            <input type="text" id="editorInfo-idenInput" placeholder="Insina a Identificação.." required>
            <br>
            <button type="submit" onclick="sendID()">Buscar</button>
        </fieldset>
    </div>
</section>

<!-- Section: Output > infos do produto -->
<section class="hidden">
    <h1 class="editarTitulo">Editar informações do Produto</h1>
    <form class="editarProduto form-info" id="cp1fi" autocomplete="on" method="POST" enctype="multipart/frm-data">
        <!-- EDITAR PRODUTO 1 -->
        <div id="editarProduto-1">
            <!-- INFORMA O NOME DO PRODUTO -->
            <div class="editarProduto-1 form-info produto">
                <label for="editarProduto-name">Nome do Produto</label>
                <input id="editarProduto-name" type="text" name="produto" value="" required>
            </div>
            <!------------   FIM   ------------>        

            <!-- SELEÇÃO DE CATEGORIA -->
            <div class="cadastroProduto-1 form-info categoria">
                <fieldset>
                    <legend>Categoria</legend>
                    <select id="editarProduto-categoria" name="categoria" class="editarProduto-1 form-info categoria" required>
                        {% for c in categoria %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <!-- <label for="categoria">Categoria</label> -->
            </div>
            <!------------   FIM   ------------>

            <!-- SELEÇÃO DE PÚBLICO -->
            <div class="editarProduto-1 form-info publico">
                <fieldset>
                    <legend>Selecione o Público</legend>
                    <div>
                        <input type="radio" name="publico" id="editarProduto-publico-mas">
                        <label for="editarProduto-publico-mas" name="masculino">Masculino</label>
                    </div>
                    <div>
                        <input type="radio" name="publico" id="editarProduto-publico-fem">
                        <label for="editarProduto-publico-fem" name="feminino">Feminino</label>
                    </div>
                </fieldset>
            </div>
            <!------------   FIM   ------------>

            <!-- INFORMAR SALDO DE ENTRADA DO PRODUTO -->
            <div class="editarProduto-1 form-info saldo">
                <label for="editarProduto-saldo">Saldo de Entrada</label>
                <br>
                <input id="editarProduto-saldo" type="number" name="saldo" required>
                <br>
            </div>
            <!------------   FIM   ------------>

            <!-- INFORMAR TAMANHO DA PEÇA -->
            <div class="editarProduto-1 form-info tamanho">
                <label for="tamanhoProduto">Tamanho</label>
                <input type="text" name="tamanha" id="tamanhoProduto" value="" required>
            </div>
            <!------------   FIM   ------------>

            <!-- INFORMAR DESCRIÇÃO -->
            <div  class="editarProduto-1 form-info descricao">
                <label for="descricaoProduto">Descrição</label>
                <input type="text" name="descricao" id="descricaoProduto" value="">
            </div>
            <!------------   FIM   ------------>
        </div>
        <!------------   FIM   ------------> 
   
        <!-- EDITAR PRODUTO 2 -->
        <div id="editarProduto-2">

            <!-- INFORMAR COR DO PRODUTO -->
            <div class="cadastroProduto-2 form-info cor">
                <label for="cor">Cor</label>
                <input type="text" name="cor" id="produtoCor" placeholder="Ex.: Preta" required>
            </div>
            <!------------   FIM   ------------>
            
            <!-- INFORMAR CÓDIGO DE BARRAS -->
            <div class="editarProduto-2 form-info codigoBarra">
                <label for="codigoBarra">Código de Barras</label>
                <input type="number" name="codigoBarra" id="codigoBarra" value="">
            </div>
            <!------------   FIM   ------------> 

            <!-- INFORMAR FORNECEDOR -->
            <div class="editarProduto-2 form-info fornecedor">
                <label for="fornecedor">Fornecedor</label>
                <input type="text" name="fornecedor" id="fornecedor" value="">
            </div>
            <!------------   FIM   ------------> 

            <!-- INFORMAR PREÇO DO FORNECEDOR-->
            <div class="editarProduto-2 form-info precoFornecedor">
                <label for="precoFornecedor">Preço do fornecedor (R$)</label>
                <input type="number" name="precoFornecedor" id="precoFornecedor" value="">
            </div>
            <!------------   FIM   ------------> 

            <!-- INFORMAR PREÇO DE VENDA -->
            <div class="editarProduto-2 form-info precoVenda">
                <label for="precoVenda">Preço de venda (R$)</label>
                <input type="number" name="precoVenda" id="precoVenda" value="">
            </div>
            <!------------   FIM   ------------> 
        </div>
        <!------------   FIM   ------------> 
        
        <!-- EDITAR PRODUTO 3 -->
        <div id="editarProduto-3">
            <fieldset>
                <legend>Importa Imagens</legend>
                <div id="editarOutputImagens">
                    <!-- pré-visualizações das imagens aparecerão aqui -->
                </div>
                <input type="file" id="editarBntimage" name="image" multiple accept="png,jpg,jpeg,gif,webp">
                <button type="button" onclick="document.getElementById('cadastroBntimage').click()">Selecionar Imagens</button>
            </fieldset>
        </div>
        <!------------   FIM   ------------>  
        
        <!-- SUBMETER -->
        <input class="submit" type="submit" value="Enviar">
        <!------------   FIM   ------------>
    </form>
</section>

<script src="../static/javascript/editor.js"></script>

{% endblock conteudo %}