{% extends "index.html" %}

{% block conteudo %}

<!-- Importar css -->
<link rel="stylesheet" href="../static/css/menu-estoque.css">


<section>
    <h1>Estoque</h1>

    <!-- Painel Filtro-->
    <div class="body-filtro">
        <fieldset>
            <legend>Filtros</legend>
            
            <div class="filtro-painel">

                <!-- Nome do produto -->
                <div class="filtro filtro-nome-do-produto">
                    <Span>Produto</Span>
                    <br>
                    <input type="text" name="filtro-nome-do-produto" id="filtro-nome-do-produto" value placeholder="Ex.: Camisa azul">
                </div>
    
    
                <!-- Categoria -->
                <div class="filtro filtro-categoria">
                    <span>Categoria</span>
                    <br>


                    <!-- <input type="text" name="" id=""> -->
                    <select name="filtro-categoria" id="filtro-categoria">
                        <option value="">testeComPalavras</option>
                        <option value="">Teste1</option>
                        <option value="">Teste2</option>
                        <option value="">Teste3</option>
                        <option value="">Teste4</option>
                    </select>


                </div>
                
    
                <!-- Publico -->
                <div class="filtro filtro-publico">
                    <span>Publico</span>
                    <br>
                    
                    <div>

                        <div>
                            <input type="radio" name="filtro-publico" id="filtro-publico-feminino">
                            <label for="filtro-publico-feminino">Feminino</label>
                        </div>
                        <div>
                            <input type="radio" name="filtro-publico" id="filtro-publico-masculino">
                            <label for="filtro-publico-masculino">Masculino</label>
                        </div>

                    </div>

                    
                </div>
                
    
                <!-- tamanho -->
                <div class="filtro filtro-tamanho">
                    <span>Tamanho</span>
                    <br>
                    <input type="text" name="filtro-tamanho" id="filtro-tamanho" value placeholder="Ex.: G">
                </div>
    
    
                <!-- Código de barra -->
                <div class="filtro filtro-codigo-de-barra">
                    <span>Código de barra</span>
                    <br>
                    <input type="number" name="filtro-codigo-de-barra" id="filtro-codigo-de-barra" value placeholder="Ex.: 7891024117606">
                </div>
                
    
                <!-- fornecedor -->
                <div class="filtro filtro-fornecedor">
                    <span>Fornecedor</span>
                    <br>
                    <input type="text" name="filtro-fornecedor" id="filtro-fornecedor" value placeholder="Ex.: HIGH">
                </div>
        
            </div>
    
        </fieldset>
    </div>










    <!-- Saida dos dados-->
    <output>
        <div>

            <table>

                <!-- Cabeçalho -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Categoria</th>
                        <th>Público</th>
                        <th>Saldo</th>
                        <th>Tamanho</th>
                        <th>Descrição</th>
                        <th>Código de Barras</th>
                        <th>Fornecedor</th>
                        <th>Preço do fornecedor (R$)</th>
                        <th>Preço de venda (R$)</th>
                        <th>Lucro por venda</th>
                        <th>Criado</th>
                        <th>Ultima Saída</th>
                    </tr>
                </thead>

                <!-- 
                    Dados para testes 
                    Logo mais sera removido
                -->
                <tr>
                    <td>testetesteteste</td>
                    <td>body2</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                    <td>body3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>


                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>testetesteteste</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>testetesteteste</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>testetesteteste</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>
                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>
                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>
                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>
                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>
                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

                <tr>
                    <td>footer1</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer2</td>
                    <td>footer3</td>
                    <td>footer3</td>
                    <td>footer3</td>
                </tr>

            </table>
        </div>
    </output>










</section>











{% endblock conteudo %}