<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/javascript/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    
    <title>Controle de Estoque</title>
</head>
<body>
    <div class="container">

        <!----- Header | Cabeçalho ----->
        <div class="header">
            <div class="header-logo">
                <img src="/static/img/logo.webp" alt="logo">
            </div>
            <div class="header-perfil">
                <div class="header-perfil">
                    <p>USERNAME</p>
                    <img src="#" alt="user_photo">
                </div>
            </div>
        </div>
        <!------------------------------>

        <!----- Nav Bat | Menu de Opções ----->
        <nav class="menu-nav">
            <li class="op-cadastro-produto">
                <a href="#">
                    <div class="op-icon">
                        <i class='bx bx-folder-plus'></i>
                    </div>
                    <div class="op-word">
                        <p>Cadastrar</p>
                    </div>
                </a>
            </li>
            <li class="op-editor-produto">
                <a href="#">
                    <div class="op-icon">
                        <i class='bx bxs-edit'></i>
                    </div>
                    <div class="op-word">
                        <p>Editar</p>
                    </div>
                </a>
            </li>
            <li class="op-remover-produto">
                <a href="#">
                    <div class="op-icon">
                        <i class='bx bx-folder-minus'></i>
                    </div>
                    <div class="op-word">
                        <p>Remover</p>
                    </div>
                </a>
            </li>
            <li class="op-list-produto">
                <a href="#">
                    <div class="op-icon">
                        <i class='bx bx-list-plus'></i>
                    </div>
                    <div class="op-word">
                        <p>Lista</p>
                    </div>
                </a>
            </li>
            <li class="op-info-produto">
                <a href="#">
                    <div class="op-icon">
                        <i class='bx bx-info-circle'></i>
                    </div>
                    <div class="op-word">
                        <p>Informação</p>
                    </div>
                </a>
            </li>
        </nav>
        <!---------------------------------->

        <!-- Painel de Controle
        <div class="painel">
            <div class="painel-control">Teste</div>
            <div class="output-data">Dados</div>
        </div>
        -->
        
    </div>
</body>
</html>