<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/javascript/script.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Controle de Estoque</title>
    </head>
    <body>
        <div class="container">
            {#  Header | Cabeçalho #}
            <div class="header">
                <div class="icon-menu-hidden">
                    <i class='bx bx-menu' onclick="open_menu()"></i>
                </div>
                <div class="header-logo">
                    <img src="/static/img/logo.webp" alt="logo">
                </div>
                <div class="header-perfil">
                    <div class="perfil">
                        <p>SeuNome</p>
                        <img src="/static/img/image.jpg" alt="user_photo">
                    </div>
                </div>
            </div>
            {#---------------------#}
            {# Nav Menu | Menu de Opções #}
            <nav class="menu-nav">
                {% for item in navBar %}
                    <li class="op-{{ item.rota }}">
                        <a href="/{{ item.rota }}">
                            <div class="op-icon">
                                <i class='bx {{ item.icone }}'></i>
                            </div>
                            <div class="op-word">
                                <p>{{ item.texto }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </nav>
            {#---------------------------#}
            {# Painel | Mostrar a opção escolhida no menu #}
            <div class="painel">
                {% block index %}{% endblock %}
            </div>
            {#--------------------------------------------#}
        </div>
    </body>
</html>