<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style-login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <h1>Login</h1>
            
            <div class="input-box">
                <input type="email" name="email" id="email" 
                placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" name="password" 
                id="password" placeholder="Senha" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            
            <div class="remember-forgot">
                <label><input type="checkbox" name="checkbox" id="checkbox">Relembre-me</label>
                <a href="#">Esqueceu a senha?</a>
            </div>
            <input type="submit" id="login" value="Login">
            <p class="register">Não possui uma conta? <a href="#">Registrar-se</a></p>
        </form>
    </div>
</body>
</html>